.projectGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
}

@media (max-width: 40rem) {
  .projectGrid {
    grid-template-columns: 1fr;
    gap: var(--space-xl);
  }
}
